CDsViewer/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CDsCollection.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CDsCollection.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CD" nillable="true" type="tns:CD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCD" nillable="true" type="tns:ArrayOfCD" />
  <xs:complexType name="CD">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CD" nillable="true" type="tns:CD" />
</xs:schema>